@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: linear-gradient(to right, rgb(0 0 0 / 63%), rgb(0 0 0 / 63%)),
    url(/black-board1.jpg), url('/black-board1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: full;
}
body {
  font-family: 'Poppins', sans-serif;
}
